<html>
<head>
  <title>Create an Item</title>
</head>
<body>
<form action='/items' method='post'>
  <div>
    <label for="name">Name of Dish:</label>
    <input type="text" placeholder="enter name" name="name"/>
  </div>
  <div>
    <input type="submit" value="Create Your Item" id="submit"/>
  </div>
</form>
</body>
</html>