<html>
<head>
  <title>Awesome Menu Items</title>
</head>
<body>
<a href = '/items/new'>New Item</a>

<ul>
  <li>item 1 - <a href = '/item/1'>Show Item</a></li>
  <li>item 2 - <a href = '/item/2'>Show Item</a></li>
  <li>item 3 - <a href = '/item/3'>Show Item</a></li>
</ul>
</body>
</html>