<html>
<head>
  <title>Awesome Menu Items</title>
</head>
<body>
<a href='/items/new'>New Item</a>

<ul>
  <% menu = Menu.new.get_menu('./config/menu.csv') %>
  <% menu.each do |item| %>
    <li><%= item.name %> - <a href='/item/<%= item.id %>'>Show Item</a></li>
  <% end %>
</ul>
</body>
</html>