<html>
<head>
  <title>Awesome Menu Items</title>
</head>
<body>
<a href = '/items/new'>New Item</a>

<ul>
  <%saag = Item.new("Saag Paneer", 1) %>
  <li><%= saag.name %> - <a href = '/item/<%= saag.id %>'>Show Item</a></li>
</ul>
</body>
</html>