<html>
<head>
  <title>Awesome Menu Items</title>
</head>
<body>
<a href='/items/new'>New Item</a>

<ul>
  <% if @searched = nil %>
    You searched for: <%= @searched %>
  <% end %>

  <% menu = Menu.new('./config/menu.csv') %>
  <% if @name != nil %>
    <% menu.add_item(@name) %>
  <% end %>
  <% menu_array = menu.get_menu %>
  <% menu_array.each do |item| %>
    <% if item.name.downcase.include?(@searched.to_s.downcase) %>
      <li><%= item.name %> - <a href='/item/<%= item.id %>'>Show Item</a></li>
    <% end %>
  <% end %>

</ul>
</body>
</html>